{{ $translations := .AllTranslations }} {{- if gt (len $translations) 1 -}}
<nav class="relative items-center ml-8 hidden">
  <label class="cursor-pointer flex gap-1 font-light items-center" for="navigation-lang-selector">
    {{ partial "icons/ico-globe" . }}
    <span class="leading-none hidden sm:block">{{ .Language.LanguageName }}</span>
  </label>
  <input type="checkbox" id="navigation-lang-selector" class="peer hidden" aria-hidden="true" />
  <ul class="absolute p-4 bg-gray-800 rounded right-0 top-8 space-y-2 opacity-0 peer-checked:opacity-100" role="navigation" aria-label="Language Selector">
    {{- range $translations -}}
    <li>
      <a
        href="{{ .Permalink }}"
        lang="{{ .Language.LanguageCode }}"
        hreflang="{{ .Language.LanguageCode }}"
        class="{{ if eq $.Site.Language.Lang .Lang }}active{{ end }} underline"
        {{
        if
        eq
        $.Site.Language.Lang
        .Lang
        }}aria-current="page"
        {{
        end
        }}
      >
        {{ or .Language.LanguageName .Language.Lang }}
      </a>
    </li>
    {{- end -}}
  </ul>
</nav>
{{- end -}}
