<article class="relative space-y-4 px-8 md:px-10 py-8 h-full">
  {{ $image := resources.Get .image }}
  {{ $ctx := . }}
  {{- with $image -}}
    {{ $imageUrl := $image }}
    {{ $formats := slice "webp" "png" }}
    {{ $altText := $ctx.name }}
    {{ $class := "size-12 rounded-xl bg-gray-200 flex shrink-0 shadow-lg shadow-gray-700/20" }}
    {{ $quality := 90 | int }}
    {{ $width := 192 }}
    {{ $height := 192 }}
    {{ partial "components/picture.html" (dict "url" $imageUrl "formats" $formats "alt" $altText "class" $class "quality" $quality "width" $width "height" $height) }}
  {{- end -}}
  <a
    href="{{ .source }}"
    class="block flex-1 text-400 font-bold leading-none before:block before:absolute before:inset-0 before:bg-gray-50 before:rounded-xl before:z-min before:duration-150 hover:before:scale-105">
    {{ .name }}
  </a>
  <span class="flex flex-col text-left">
    <p class=" text-gray-700 ">{{- .description -}}</p>
    <ul class="flex gap-2 text-xs pt-2">
      {{- if .tags -}}
        {{- range .tags -}}
          <li>{{- . -}}</li>
        {{- end -}}
      {{- end -}}
    </ul>
  </span>
</article>
