{{- /* TODO: Remove this component? */ -}}
{{ $elements := slice }}

{{- if eq (printf "%T" .data) "string" }}
  {{- if eq .ctx.Kind "term" -}}
    {{ $elements = .ctx.Pages }}
  {{- else -}}
    {{ $allPages := where (where .ctx.Site.Pages "Section" .data) "Lang" .ctx.Site.Language.Lang }}
    {{ $elements = where $allPages "Kind" "ne" "section" }}
  {{- end -}}
{{- else if or (reflect.IsSlice .data) (reflect.IsMap .data) -}}
  {{ $elements = .data }}
{{- end -}}

{{ $count := len $elements }}


<sup class="inline-block text-sm -top-[1em]">{{ $count }}</sup>
