{{ define "main" }}
<section class="relative grid grid-cols-12 gap-8 mt-20" data-pagefind-body>
  <div class="col-span-8 col-start-3">
    <div class="flex justify-center gap-2 mb-10 text-gray-500">
      <span data-pagefind-meta="section">{{ .CurrentSection.Name }}</span> |
      <time
        datetime="{{ .PublishDate }}"
        class="block relative after:absolute after:block after:h-full after:w-px after:right-0 after:rounded-full after:top-1/2 after:-translate-y-1/2 after:bg-light after:text-600"
        >{{ (.PublishDate | time.Format ":date_long") }}</time
      >
    </div>
    <h1 class="text-800 font-semibold text-center pb-14 leading-none">{{ .Title }}</h1>

    <div class="flex flex-col lg:flex-row pb-6 text-200">
      <div class="mx-auto bg-gray-800 rounded-xl flex md:items-center">
        <a
          href="/"
          class="relative flex items-center gap-2 p-5 after:absolute text-gray-500 after:block after:h-full after:w-px after:right-0 after:rounded-full after:top-1/2 after:-translate-y-1/2 after:bg-light after:text-600"
        >
          <span class="w-6 h-6">{{ partial "icons/ico-arrow-left" }}</span>
          {{ T "Back" }}
        </a>
        <span class="relative p-5 after:absolute after:block after:h-full after:w-px after:right-0 after:rounded-full after:top-1/2 after:-translate-y-1/2 after:bg-light after:text-600">
          <span class="text-gray-500">{{ T "Author" }}:</span>
          <span data-pagefind-meta="author">{{ .Params.author }}</span>
        </span>
        <span class="relative p-5 after:absolute after:block after:h-full after:w-px after:right-0 after:rounded-full after:top-1/2 after:-translate-y-1/2 after:bg-light after:text-600">
          {{ T "TimeToRead" .ReadingTime }}
        </span>
        <a href="{{.Site.Params.ghrepo }}edit/main/content/{{ lower .Language.LanguageName }}/{{ .File.Path }}" class="flex items-center gap-2 p-5 text-gray-500"
          ><span class="w-4 h-4">{{ partial "icons/ico-github" }}</span> <span>{{ T "CheckRepo" }}</span></a
        >
      </div>
    </div>

    {{/* {{ $page := . }} {{ $formats := slice "webp" "png" }} {{ $altText := .Title }} {{ $class := "w-full min-w-40 aspect-video bg-gray-200 rounded-xl shrink-0 grow-0 my-12" }} {{ $quality := 90 |
    int }} {{ $width := 1428 }} {{ $height := 800 }} {{ partial "components/picture.html" (dict "url" .Params.cover "formats" $formats "alt" $altText "class" $class "quality" $quality "width" $width
    "height" $height "page" $page) }} */}} {{- with .Summary -}}
    <p class="my-12 leading-8 font-regular text-300">
      <span class="font-bold" aria-hidden="true">{{ T "Summary" }} —</span>
      <span class="text-gray-600" data-pagefind-meta="summary">{{ . }}</span>
    </p>
    {{- end -}}

    <article class="prose max-w-none" {{ with .Params.contentLang }}lang="{{ . }}" {{ end }}>{{ .Content }}</article>

    <aside class="my-28">
      <div class="flex justify-between mb-6">
        <h3 class="block text-500 text-center font-bold">{{ T "DiscoverMore" }}</h3>

        {{ with .GetTerms "tags" }}
        <ul class="inline-flex gap-2 lg:ml-auto">
          {{ $firstTags := first 3 . }} {{ range $firstTags }}
          <li>{{ partial "components/button" (dict "Size" "Small" "Variant" "Filled" "Name" .LinkTitle "URL" .Permalink) }}</li>
          {{ end }}
        </ul>
        {{ end }}
      </div>
      {{ partial "components/related" . }}
    </aside>
  </div>
</section>
{{ end }}
