{{ define "main" }}

<main data-barba="container" data-barba-namespace="single">
  <section class="relative grid grid-cols-1 md:grid-cols-12 md:gap-8 mt-10 md:mt-20" data-pagefind-body>
    <div class="md:col-span-10 lg:col-span-8 md:col-start-2 lg:col-start-3">
      <div class="flex justify-center gap-2 mb-5 md:mb-10 text-gray-500">
        <span data-pagefind-meta="section">{{ .CurrentSection.Name }}</span> |
        <time datetime="{{ .PublishDate }}" class="block relative">{{ (.PublishDate | time.Format ":date_long") }}</time>
      </div>
      <h1 class="text-700 md:text-800 font-proxima font-semibold text-center pb-14 leading-none dark:text-light">{{ .Title }}</h1>

      <div class="flex flex-col lg:flex-row pb-6 text-200">
        <div class="mx-auto bg-gray-800 dark:bg-gray-100 rounded-xl w-full sm:w-auto flex flex-col sm:flex-row md:items-stretch">
          <a
            href="/"
            class="relative flex items-center gap-2 p-5 rounded-l-xl hover:bg-gray-700 dark:hover:bg-gray-200 hover:text-black dark:hover:text-light duration-100 after:absolute text-gray-500 after:block after:h-px md:after:h-full after:bottom-0 after:left-0 md:after:left-[initial] after:w-full md:after:w-px md:after:right-0 after:rounded-full md:after:top-1/2 md:after:-translate-y-1/2 after:bg-light dark:after:bg-gray-50 after:text-600"
          >
            <span class="w-6 h-6">{{ partial "icons/ico-arrow-left" }}</span>
            {{ T "Back" }}
          </a>
          <span
            class="relative flex items-center p-5 after:absolute after:block after:h-px md:after:h-full after:bottom-0 after:left-0 md:after:left-[initial] after:w-full md:after:w-px md:after:right-0 after:rounded-full md:after:top-1/2 md:after:-translate-y-1/2 after:bg-light dark:after:bg-gray-50 after:text-600"
          >
            <span class="text-gray-500">{{ T "Author" }}:</span>
            <span data-pagefind-meta="author" class="dark:text-light">&nbsp;{{ .Params.author }}</span>
          </span>
          <span
            class="relative flex items-center dark:text-light p-5 after:absolute after:block after:h-px md:after:h-full after:bottom-0 after:left-0 md:after:left-[initial] after:w-full md:after:w-px md:after:right-0 after:rounded-full md:after:top-1/2 md:after:-translate-y-1/2 after:bg-light dark:after:bg-gray-50 after:text-600"
          >
            {{ T "TimeToRead" .ReadingTime }}
          </span>
          <a
            href="{{.Site.Params.ghrepo }}edit/main/content/{{ lower .Language.LanguageName }}/{{ .File.Path }}"
            class="flex items-center gap-2 p-5 text-gray-500 rounded-r-xl hover:bg-gray-700 dark:hover:bg-gray-200 hover:text-black dark:hover:text-light duration-100"
            ><span class="w-4 h-4">{{ partial "icons/ico-github" }}</span> <span>{{ T "CheckRepo" }}</span></a
          >
        </div>
      </div>

      {{/* {{ $page := . }} {{ $formats := slice "webp" "png" }} {{ $altText := .Title }} {{ $class := "w-full min-w-40 aspect-video bg-gray-200 rounded-xl shrink-0 grow-0 my-12" }} {{ $quality := 90
      | int }} {{ $width := 1428 }} {{ $height := 800 }} {{ partial "components/picture.html" (dict "url" .Params.cover "formats" $formats "alt" $altText "class" $class "quality" $quality "width"
      $width "height" $height "page" $page) }} */}} {{- with .Summary -}}
      <p class="my-12 pb-12 leading-8 font-regular text-400 border-b border-gray-500">
        <span class="font-bold" aria-hidden="true">{{ T "Summary" }} —</span>
        <span class="text-400 text-gray-300 italic" data-pagefind-meta="summary">{{ . }}</span>
      </p>
      {{- end -}}

      <article data-component="article" class="prose max-w-none" {{ with .Params.contentLang }}lang="{{ . }}" {{ end }}>{{ .Content }}</article>

      <aside class="my-28">
        <div class="flex flex-col sm:flex-row gap-4 justify-between items-center mb-6">
          <h3 class="block text-500 text-center font-bold dark:text-light">{{ T "DiscoverMore" }}</h3>

          {{ with .GetTerms "tags" }}
          <ul class="inline-flex gap-2 lg:ml-auto">
            {{ $firstTags := first 3 . }} {{ range $firstTags }}
            <li>{{ partial "components/button" (dict "Size" "Small" "Variant" "Filled" "Name" .LinkTitle "URL" .Permalink) }}</li>
            {{ end }}
          </ul>
          {{ end }}
        </div>
        {{ partial "components/related" . }}
      </aside>
    </div>
  </section>
</main>
{{ end }}
