{{ define "meta" }} {{ partial "head/schema" (dict "context" . "content" "head/schema/schema-website.html") }} {{ end }} {{ define "prefix" }}

{{end}} {{ define "main" }} 

{{ $ctx := . }} {{- $data := index .Site.Data .Site.Language.Lang -}}
<main data-barba="container" data-barba-namespace="home" class=" min-h-screen">
<div class="pb-10 w-full flex flex-col items-center">
    <h1 class="mt-16 font-proxima inline-block font-bold text-900 dark:text-light mb-10 m-auto">{{ .Title }}</h1>
    {{- if isset .Params "subtitle" -}}
    <p class="pb-2 text-500 text-gray-700 font-light">
      {{ .Params.subtitle }} {{ if and .Params.cta .Params.ctalink }}
      <a href="{{ .Params.ctalink | absLangURL }}" class="underline">{{ .Params.cta }}</a>
      {{ end }}
    </p>
    {{- end -}}
  
    <div data-component="search" class="max-w-96 w-full flex justify-center">
        <label for="search-input" class="relative flex items-center bg-gray-800 rounded-full p-4 gap-2 w-full">
            <div class="">{{ partial "icons/ico-search" . }}</div>
            <input id="search-input" data-component-input placeholder="Search" class="bg-transparent outline-none w-full" />
        </label>
    </div>

    <nav class="relative mt-10 w-full max-w-2xl min-h-8" data-component="tabs">
        <div data-component-nav="tabs" class="block w-fit m-auto">
            <ul class="flex justify-center gap-4 md:gap-6 text-gray-500 dark:text-gray-300">
                <li>
                    <input type="radio" id="all" name="tab" value="all" class="hidden peer" checked />
                    <label data-component-item="all" for="all" class="ease duration-300 cursor-pointer hover:text-gray-50 text-gray-50 dark:hover:text-light dark:text-light">All</label>
                </li>
                {{- range .Site.Menus.main -}} 
                    {{- if eq .Params.list true -}}
                        <li class="min-w-fit">
                            <!-- <input type="radio" id="{{ .Name }}" name="tab" value="{{ .Name }}" class="hidden peer" /> -->
                            <label data-component-item="{{ .Name }}" for="{{ .Name }}" class="ease duration-300 cursor-pointer hover:text-gray-50  dark:hover:text-light ">{{ .Identifier }}</label>
                                </li>
                    {{- end -}}
                {{- end -}} 
            </ul>
            <div data-component-navbar class="h-0.5 w-[18px] bg-gray-50 dark:bg-light rounded-full mt-1.5"></div>
        </div>
        <div data-component-nav="search" class="flex absolute top-0 w-full justify-center items-center text-gray-500 opacity-0 invisible">
            <button
                data-component-tabback
                class="absolute left-0 flex items-center gap-2"
                >
                <span class="w-6 h-6">{{ partial "icons/ico-arrow-left" }}</span>
                {{ T "Back" }}
            </button>
            <span class=""><span data-component-nav-searchcount>3</span> {{ T "ItemsFound" }}</span>
        </div>
    </nav>
  </div>

<section data-component="list" class="mb-24">
  {{ $maxDisplayed := 6 }}

  <div data-collection="all">
    {{ $articles := .Site.RegularPages }}
    {{ partial "components/list" (dict "list" $articles "ctx" $ctx "rangeLimit" $maxDisplayed "sectionLink" true) }} 
    {{ if gt (len $articles) $maxDisplayed }} 
        <a href="{{ "/articles/page/2/" | absLangURL }}" data-component-loadbtn="all" class="prevent-barba block w-fit px-5 py-4 mx-auto bg-gray-800 text-gray-500 rounded-full my-6 duration-200 ease transition-colors hover:bg-gray-700 dark:bg-gray-100 dark:hover:bg-gray-200 hover:text-gray-50 dark:hover:text-light">{{ T "LoadMore" }}</a>
    {{ end }}
  </div>

  <div data-collection="search" class="hidden">
    {{ partial "components/list" (dict "list" slice "ctx" $ctx "rangeLimit" $maxDisplayed "sectionLink" true) }} 
    <button data-component-searchbtn="search" class="prevent-barba hidden w-fit px-5 py-4 mx-auto bg-gray-800 text-gray-500 rounded-full my-6 duration-200 ease transition-colors hover:bg-gray-700 dark:bg-gray-100 hover:text-gray-50">{{ T "LoadMore" }}</button>
  </div>
  
  {{- range .Site.Menus.main -}} 
    {{- if eq .Params.list true -}} 
    {{ $subject := site.GetPage (printf "articles/%s" .Name) }}
    {{ $articles := $subject.RegularPagesRecursive }}
    <div data-collection="{{lower .Name}}" class="hidden">
        {{ partial "components/list" (dict "list" $articles "ctx" $ctx "rangeLimit" $maxDisplayed "sectionLink" true) }} 
        {{ if gt (len $articles) $maxDisplayed }} 
            <a href="{{ printf "/articles/%s/page/2/" .Name | absLangURL }}" data-component-loadbtn="{{lower .Name}}" class="prevent-barba block w-fit px-5 py-4 mx-auto bg-gray-800 text-gray-500 rounded-full my-6">{{ T "LoadMore" }}</a>
        {{ end }}
    </div>
    {{- end -}} 
  {{- end -}}
</section>
</main>
{{ end }}

